<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    h1 {text-align: center;}
    form {text-align: center;}
    .center {margin-left: auto; margin-right: auto;}
    .me{margin-left: 30px;}
    </style>
    <title>Translator</title>
</head>
<body>
<h1>English to Danish Translator</h1>
<form action="\" method="post">
    <table class="center">
        <tr>
            <th><label for="english">English</label></th>
            <th>Danish</th>
        </tr>
        <tr>
            <td><input type="text" id="english" name="english"></td>
            <td>{{answer}}</td>
        </tr>
     </table>
    <br><br>
    <input type="submit" value="Translate">
</form>
<center><h4>{{warning}}</h4></center>
<center><h4>{{warning2}}</h4></center>
<br><br><br><br><br>
<div class="me">
    <b><i><u style="font-size:20px">Developed and Deployed by:</u></i></b>
    <b style="font-size:20px">&nbsp;Gautam Manocha</b><br><br>
    <i style="font-size:18px">Connect with me on</i><br><br>
    <a href="https://github.com/26-lion" class="fa fa-github-square" style="font-size:24px; color: black"> </a>  &nbsp;
    <a href="https://www.linkedin.com/in/gautam-manocha-7698991a8/"class="fa fa-linkedin-square" style="font-size:24px; color: black;"> </a> &nbsp;
    <a href="mailto:manochagautam@yahoo.com" class="fa fa-envelope" style="font-size:24px; color:black;"></a>
    <br><br>
    Code for the website and neural machine translation model can be found <a href="https://github.com/26-lion/English_to_Danish_NMT.git"> here</a>
</div>

</body>
</html>